<!DOCTYPE html>
<html>
<head>
    <title>Weather Result</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Weather in <%= name%> </h1>
    <p class="info">
        <span class="label">Temperature:</span> <%= temp %>°C<br>
        <span class="label">Feels Like:</span> <%= feels %>°C<br>
        <span class="label">Humidity:</span> <%= humidity %>%<br>
        <span class="label">Wind Speed:</span> <%= wind %> m/s<br>
        <span class="label">Conditions:</span> <%= desc %><br>
        <span class="label">Clouds:</span> <%= clouds %>%<br>
    </p>

    <p><a href="/weather">Search for another City</a></p>
    <p><a href="/">Back to Home</a></p>

</body>    
</html>